<div class="container " >
    <div class="card">
        <div class="card-header;">
            <div class="text-center "  style="margin-top: 1.5em;" >
            <h3>USUARIO</h3>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr class="text-center">
                        <th>IdUsuario</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Telefono</th>
                        <th>Username</th>
                        <th>Contraseña</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center" *ngFor="let usuario of usuarios ">
                        <td>{{usuario.idusuario}}</td>
                        <td>{{usuario.nombre}}</td>
                        <td>{{usuario.apellido}}</td>
                        <td>{{usuario.telefono}}</td>
                        <td>{{usuario.username}}</td>
                        <td>{{usuario.contrasenia}}</td>
                        <td><button (click)="Editar(usuario)" class="btn btn-warning"> Editar</button></td>
                        <td><button (click)="Eliminar(usuario)" class="btn btn-danger" style="margin-left: 1em;">Borrar</button></td>                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>