<div style="text-align: center;" >
  <h1>Bienvenido a la aplicacion de Mascotas</h1>
<div style="margin-top: 2em; margin-bottom: 3em;">
  <img width="200" alt="Logo Tienda" src="../../assets/img/Logo.jpg">
</div>
</div>

<div class="container" class="text-center">
  <button (click)="Listar()"class="btn btn-info">Ver User</button>
  <button (click)="Nuevo()" class="btn btn-info" style="margin-left: 1em;">Añadir User</button>
  
  <button (click)="anadir()" class="btn btn-info" style="margin-left: 2em;">Inluir Mascota</button>

  <button (click)="Buscar()" class="btn btn-info" style="margin-left: 2em;">Buscar DNI</button>
  <button (click)="alta()" class="btn btn-info" style="margin-left: 1em;">Vender</button>
</div>
<router-outlet></router-outlet>